body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #333;
  width: 900px;
  /* background-color: #E0E0DC; */
  /* background-color: #f7f7ed; */
  display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
}

#selector{
  margin-bottom: 10px;
}

.labels text {
  text-anchor: end;
}

.tickMarksX {
  fill: black;
}

path {
  fill: none;
  stroke: black;
}

.domain {
  stroke: none;
}

#axis line {
	stroke: none;
}

.tickMarksX line {
  stroke: none;
  stroke-dasharray: 3 5;
}

.tickMarksY line {
  stroke: none;
  stroke-dasharray: 3 5;
}

text {
  font-size: 0.8rem;
  fill: black;
}


.realTicks{
  stroke: gray;
  stroke-dasharray: 3 5;
}


p {
  margin: 2px;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 820px;
  padding-bottom: 5px;
}

h1{
  margin: 2px;
  font-size: 30px;
}

h2 {
  margin: 2px;
}

h3 {
  margin: 2px;
}

#chart{
  background-color: white;
  /* border: 0.5px solid;
  border-color: lightgray;
  border-radius: 10px; */
}

#chart circle {
  fill: #e2d59c;
  padding: 2px;
  stroke: white;
  stroke-width: 1px;
}

#chart circle:hover {
  fill: #DBCC85;
  cursor: pointer;
  }

.link{
  color: black;
  font-style: italic;
  margin-bottom: 3px;
  line-height: 2rem;
}

.link:hover{
  background-color: #f7f7ed;
  border-radius: 10px;
  opacity: 0.5;
  transition-duration: 0.8s;
}

.tooltip {
    position: absolute;
    background-color: #f7f7ed;
    border: 0.5px solid;
    border-color: lightgray;
    border-radius: 10px;
    width: 100px;
}

.tooltip2 {
    width: 200px;
    border: 0.5px solid;
    border-color: lightgray;
    border-radius: 10px;
    background-color: white;
    /* left: 925px;
    top: 133px; */
}

#allChart {
display: flex;
flex-direction: column;
align-items: center;

}

.iframe2 {
  width: 1100px;
  height: 750px;
  border-style: none;
  border-width: none;
  overflow: hidden;
}

.iframeHolder {
  width: 1100px;
  /* max-height: 0px; */
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

button {
  display: flex;
  width: 100%;
  height: 5%;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 15px;
  border: 0.1px solid lightgray;
  align-items: center;
  margin-bottom: 3px;
}

button:hover{
  background-color: rgb(232, 232, 232);
  cursor: pointer;
}
